<ion-header>
    <ion-toolbar>
      <ion-title>Your Offers</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button routerLink="/places/offers">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="8" offset-sm="2" text-center>
            <ion-item-sliding *ngFor="let p of loadedPlaces" #slidingItem>
              <ion-item-options side="end">
                <ion-item-option (click)="editOffer(p.id, slidingItem);" color="warning">
                  <ion-icon name="create" slot="icon-only"></ion-icon>
                </ion-item-option>
              </ion-item-options>
              <app-offer-item [offer]="p"></app-offer-item>
            </ion-item-sliding>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  