<ion-app>
  <ion-menu side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>Week-11 PHP-MySQL</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
      </ion-list>
      <ion-list>
        <ion-list-header>
          Miscellaneous
        </ion-list-header>
        <ion-item lines="full">
          <ion-icon slot="start" name="moon"></ion-icon>
          <ion-label>
            Dark Mode
          </ion-label>
          <ion-toggle id="themeToggle" slot="end"></ion-toggle>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
