<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/places/discover"></ion-back-button>
      <ion-title>{{ loadedPlace.title }}</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="col ion-no-padding">
        <ion-img [src]="loadedPlace.imgUrl"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-label>{{ loadedPlace.price }}</ion-label>
      </ion-row>
    <ion-row>
      <ion-label>{{ loadedPlace.description }}</ion-label>
    </ion-row>
  </ion-grid>
  </ion-content>
