<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Bifeldy's Profile
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="http://www.bifeldy.tk/assets/img/tentang/Bifeldy.jpg" alt="Bifeldy" />
    <ion-card-header>
      <ion-card-subtitle class="ion-text-end">000.000.13536</ion-card-subtitle>
      <ion-card-title>Basilius Bias Astho Christyono</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Yogyakarta, Indonesia
      <hr style="border-bottom: 1px solid lightgray;" />
      <div class="ion-text-end">
        <a href="https://www.youtube.com/Bifeldy" style="text-decoration: none;">
          <i class="fa fa-youtube"></i>
          &nbsp;
        </a> 
        <a href="https://twitter.com/Bifeldy" style="text-decoration: none;">
          <i class="fa fa-twitter"></i>
          &nbsp;
        </a>  
        <a href="https://www.linkedin.com/in/Bifeldy" style="text-decoration: none;">
          <i class="fa fa-linkedin"></i>
          &nbsp;
        </a>  
        <a href="https://www.facebook.com/Bifeldy" style="text-decoration: none;">
          <i class="fa fa-facebook"></i>
          &nbsp;
        </a>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>